{% extends "base.html" %}
{% block content %}
    <h1>Add product</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label() }}
            {{ form.name(class="form-control") }}
            {% if form.name.errors %}
                {% for error in form.name.errors %}
                    <p class="error">{{error}}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.price.label() }}
            {{ form.price(class="form-control") }}
            {% if form.price.errors %}
                {% for error in form.price.errors %}
                    <p class="error">{{error}}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.unit.label() }}
            {{ form.unit(class="form-control") }}
            {% if form.unit.errors %}
                {% for error in form.unit.errors %}
                    <p class="error">{{error}}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.category.label() }}
            {{ form.category(class="form-control") }}
            {% if form.category.errors %}
                {% for error in form.category.errors %}
                    <p class="error">{{error}}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-primary") }}
        </div>
    </form>


{% endblock content %}}