{% extends "base.html" %}
{% block content %}
    <h1>Witaj na stronie głównej!</h1>
    <div class="products-list">
    {% for product in products %}
        <div class="card product" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ product.category }}</h6>
            <p class="card-text">{{ product.price }}/{{ product.unit }}</p>
            <a href="#" class="card-link">Kup</a>
          </div>
        </div>
    {% endfor %}
    </div>

{% endblock content %}}